@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
    font-family: var(--font-sans);
  }
}

@layer utilities {
  .print-only {
    display: none;
  }
}

@media print {
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
  body {
    background: white;
  }
  nav, footer {
    display: none !important;
  }
  .max-w-5xl {
    max-width: 100% !important;
    box-shadow: none !important;
    border: none !important;
  }

  canvas {
    max-width: 100% !important;
    height: auto !important;
    display: block;
    margin: 0 auto;
  }

  .printable-canvas-container,
  .printable-canvas-container * {
    visibility: visible;
  }

  .printable-canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}


@media print {
  #BlufoxProjection table td,
  #BlufoxProjection table th,
  #BlufoxProjection table td span {
     font-size: 10px !important;
      padding: 6px 10px !important;
  }
}
